<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/CSS/styles.css">
        <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    </head>
    <body>
<!--Header-->
        <header class="main-header">
            <div class="content">
                <div class="top-bar">
                    <div class="top-up">
                        <a href="/">
                            <img src="static/images/logo-mercado-liebre.svg" class="logo" alt="Aquí debería haber un logo">
                        </a>
                        <form action="#" class="search">
                            <input type="search" name="search" class="search-bar" placeholder="Buscar productos, marcas y más">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <h2><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
                </div>
                <nav class="nav-bar">
                        <ul class="left-nav-bar">
                            <li><a href="#"> Ofertas</a></li>
                            <li><a href="#"> Tiendas Oficiales</a></li>
                            <li><a href="#"> Vender</a></li>
                            <li><a href="#"> Ayuda</a></li>
                        </ul>
                        <ul class="right-nav-bar">
                            <li><a href="/register"> Creá tu cuenta </a><i class="far fa-address-card"></i></li>
                            <li><a href="/login"> Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                            <li><a href="#"> Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                        </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
<!-- main-->
        <section class="banner">
            <img src="static/images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main class="main-main">
            <div class="main-body">
                <section class="main-article">
                <h3 class="title-section">Basado en tu última visita</h3>
                    <article class="article-cards">
                        <img src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$6.770</p>
                                <p class="off">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="article-cards">
                        <img src="static/images/img-macbook-pro-2019.jpg" alt="Macbook PRO">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$230.000</p>
                                <p class="off">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro-2019</p>
                        </div>
                    </article>                 
                    <article class="article-cards">
                        <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$70.500</p>
                                <p class="off">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy</p>
                        </div>
                    </article>
                    <article class="article-cards">
                        <img src="static/images/img-tv-samsung-smart.jpg" alt="Samsung Smart-TV">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$23.200</p>
                                <p class="off">5% off</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                </article>
            </section>
                <section class="main-article">
                    <h3 class="title-section">Sección de ofertas</h3>
                    <article class="article-cards">
                        <img src="static/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$6.770</p>
                                <p class="off">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="article-cards">
                        <img src="static/images/img-macbook-pro-2019.jpg" alt="Macbook PRO">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$230.000</p>
                                <p class="off">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro-2019</p>
                        </div>
                    </article>                 
                    <article class="article-cards">
                        <img src="static/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$70.500</p>
                                <p class="off">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy</p>
                        </div>
                    </article>
                    <article class="article-cards">
                        <img src="static/images/img-tv-samsung-smart.jpg" alt="Samsung Smart-TV">
                        <div class="caracteristics-article">
                            <i class="fas fa-truck"></i>
                            <div class="for-pay">
                                <p class="precios">$23.200</p>
                                <p class="off">5% off</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>
                </article>
            </section>
            </div>
        </main>
 <!--footer-->
        <footer>
            <section class="target">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="target">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="target">
                <i class="fas fa-shield-alt"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>